
//fonts
$fontPrincipal: 'Josefin Sans', sans-serif;
$fontSecundaria: 'Delicious Handrawn', sans-serif;

//sizing
$textMini:0.7em;
$textSxx:0.9em;
$textSx: 1.1em;
$textSm: 1.2em;
$textMd: 1.5em;
$textLg: 2em;
$textXl: 3em;

//font weight
$fontLight:100;
$fontRegular:400;
$fontBold:600;



